* {
  margin: 0%;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Mingzat", sans-serif;
}
.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.profile {
  /* make aprofile card css */
  width: 50%;
  height: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #f5f5f5;
  border-radius: 10px;
  box-shadow: 0px 0px 10px #000;
  padding: 20px;
  margin: 20px;
}
.profile p {
  font-size: 20px;
  font-weight: bold;
  margin: 0px;
}

.actions {
  /* make button container css */
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 30%;
  height: 80px;
  /* background-color: #f5f5f5; */
  border-radius: 10px;
  box-shadow: 0px 0px 10px #000;
  padding: 20px;
  margin: 20px;
  background-color: linear-gradient(60deg, #070ff4, #f90a0a);
}
.actions button {
  /* make button css */
  width: 20%;
  height: 50px;
  background-color: #f5f5f5;
  border-radius: 10px;
  box-shadow: 0px 0px 10px #000;
  padding: 20px;
  margin: 20px;
  background-color: linear-gradient(60deg, #070ff4, #f90a0a);
}
.dark {
  background-color: #000;
  color: rgb(0, 0, 0) !important;
}
.dark .profile {
  color: rgb(244, 244, 244);
  background-color: #000;
}
